<% if (data) { %>
<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>

<div class="col-lg-12 col-md-12">
        <div class="col-lg-11 col-md-11" >
        <% if (data) { %>
        <% data.forEach(function(commande){ %>
          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 endroit">
              <img src="../../img/menu_jour/<%= commande.image_plat %>"  class="img-rounded img-responsive ">
              <p><%= commande.nom_plat %></p>
              <form method="post" action="/menus/commande/<%= commande.id_commande %>">
                <button type="submit" name="delete" value="delete" class="btn-xs btn btn-danger" style="width: 100%;">annuler</button>
                <input type="hidden" name="_method" value="DELETE" />
              </form> 
          </div>
        <% }) %>
        <% } %>
              
          
          
        </div>
        <div class="col-lg-1 col-md-1" style="padding-top: 10px;">
        
         <form action="/menus/commande/<%= data[0].id_commande %>" method="post" name="form1">
            <button type="submit" name="Submit" value="Edit" class="btn-xs btn btn-success" style="margin-left:-30px; padding: 5px;">
                <span class="glyphicon glyphicon-ok-circle" style="font-size:40px;"></span><br>
              Commander <br> maintenant
            </button>
            <input type="hidden" name="_method" value="PUT" />
        </form>
        <% if (data) { %>
        <% data.forEach(function(commande){ var total;
          total+= 10 ;
          %>
          <p> <%= total %> </p>
        <% }) %>
        <% } %>
        </div>
</div>

<%- include ../layouts/footer.ejs %>
<% } %> 